* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  /* background: linear-gradient(#e3a4db, #b039ca); */
  /* background: #FFCEFE; */
  background: #B7B1F2;
  /* background: #bbb0f2; */
  color: #292424;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.task-section {
  background: #fff;
  padding: 20px;
  width: 300px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.task-section h2 {
  margin-bottom: 10px;
  color: #8712a1;
}

.task-list {
  list-style: none;
  min-height: 200px;
}

.task-card {
  background: #fefefe;
  padding: 10px;
  margin-bottom: 10px;
  border-left: 5px solid #007bff;
  border-radius: 8px;
  cursor: move;
  position: relative;
}

.task-section:hover {
    transform: scale(1.03);
  box-shadow: 0 10px 20px rgba(243, 157, 243, 0.2);
}

.task-card h4 {
  margin-bottom: 5px;
}

.task-card small {
  font-size: 0.8rem;
  color: #555;
}

.task-card button {
  position: absolute;
  top: 5px;
  right: 5px;
  margin-left: 5px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.form-section {
  background: #fff;
  margin-top: 30px;
  padding: 20px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.form-section:hover {
    transform: scale(1.03);
  box-shadow: 0 10px 20px rgba(243, 157, 243, 0.2);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, textarea, select, button {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

button {
  background: #771dd8;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}

button:hover {
  background: #3e018e;
}

/* Modal Styling */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background: white;
  margin: 10% auto;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  position: relative;
}

.close {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
